

.h1Size {
    font-size: 4rem;
}

.pProperties {
    color: #444344;
}

ul.ulIndexProperties {
    flex-direction: row;
}

li.liIndexProperties {
    padding-top: 1.5rem;
}

a.outlineSuccess2 {
    color: #10d56d;
    border: 1px solid #10d56d;
    border-radius: 25px;
    width: 150px;
    height: 2.8rem;
}

a.outlineSuccess2:hover {
    color: #10d56d;
}